rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  (() => {
  // src/testFiles/efg.ts
  var efg = "hihihi";

  // src/testFiles/abc.ts
  var abc = "hahaha";
})();

  }